<!-- Remove the container if you want to extend the Footer to full width. -->
<div>
    <footer class="text-center text-white" style="background-color: #f1f1f1;">
    </footer>
</div>
<!-- End of .container -->